@import '../../global.scss';
.tarjetaVenta{
    background-image: linear-gradient(270deg,#a70000,$kiosOrange);
    height: 20vh;
    position: relative;
    color: black;
    .overlay{
        background-image: linear-gradient(270deg,#929292,#014f52);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        .verDetalles{
            background-color: $kiosOrange;
            border-radius: 50%;
            cursor: pointer;
            padding: 1rem;
            &:hover{
                background-color: #a70000;
            }
        }
    }
}
.compraBox{
    border: 1px solid gray;
    padding: 1rem;
    position: relative;
    border-radius: 7px;
    background-color: #ececec;
    .cancelBtn{
        position: absolute;
        top: 0;
        right: 5px;
        cursor: pointer;
    }
}